@model IEnumerable<Week5.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.restaurantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.foodQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.province)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.restaurantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foodPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.foodQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.province.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
